body {
    background: #d2d2c1 url('imagens/fundo.png');

    font-size: 16px Arial, Helvetica, sans-serif;
}

#capa {
    margin: 0px;
    padding: 0px;
    background-position: center;

}

#menu {
    background: #c5c5b2;
    padding: 18px;
    text-align: center;
}

.conteudo {
    background: #e8e8d9;
    padding: 5px;
    width: 350px;
    margin: 10px;
    float: left;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#direitos {
    text-align: center;
}

h1 {
    color: #828271;
    font-size: 1.2em;
    text-align: center;
}

.img-campanha {
    border: 5px solid #c3c3ae;
    float: left;
    margin: 10px;
    padding: 10px;
}

.clear {
    clear: both;
}